<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../scss/main.css">

</head>
<body>
    <!-- HEADER -->
    <header>
        <!--Menu izquierdo-->
        <a href="../index.html" class ="logo">
            <img src="../img/logo.png" alt="logo">
        </a>

        <nav>
            <a href="../layout/hombre.html">Hombre</a>
            <a href="../layout/mujer.html">Mujer</a>
            <a href="../layout/contacto.html">Contacto</a>

           
        </nav>

        <!--Menu derecho-->
        <nav class="menu2">
            <a href="../layout/favoritos.html">
                <img class="corazon" src="../img/corazon.png" alt="corazon">
            </a>

            <a href="../layout/cesta.html">
                <img class="carrito" src="../img/carrito.png" alt="carrito">
            </a>

            <a href="../layout/registro.html"><img src="../img/login.png" id="sesion" alt="login"></a>

        </nav>

    </header>
    <!--MAIN-->
    
    <main>
        <!--Ruta de la pagina-->
        <p class="ruta"><a href="../index.html">Inicio/</a><a href="../layout/registro.html">Inicio Sesion</a></p>

        <h1 class="titulo">Inicio de Sesión</h1>

        <div class="registroLogin">
            <section class="form-login">
                <h4>Inicio Sesion</h4>
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
                <input type="checkbox">
                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p><br><br>
                <input class="botons" type="submit" value="Continuar">
                
              </section>
              
            <section class="form-register">
                <h4>Formulario Registro</h4>
                <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
                <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
                <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
                <input type="checkbox">
                <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p><br>
                <input class="botons" type="submit" value="Registrar">
                <p><a href="#">¿Ya tengo Cuenta?</a></p>
              </section>
        </div>
    </main>







    <!--FOOTER-->

    <footer class="footer">
        <!--Titulo del footer-->
        <h1>Más Información</h1>

        <!--Informacion sobre la tienda-->
        <ul>
            <li><a href="#">Envio y Entrega</a></li>
            <li><a href="#">Política y privacidad</a></li>
            <li><a href="#">Información sobre tallas</a></li>
            <li><a href="#">Devoluciones y cambios</a></li>
            <li><a href="#">Términos y condiciones</a></li>
        </ul>

        <!--Imagenes de las redes sociales-->
        <div class="redes">
            <a href="#"><img src="../img/fc.png" alt="facebook" class="facebook"></a>
            <a href="#"><img src="../img/ig.png" alt="instagram" class="instagram"></a>
            <a href="#"><img src="../img/tw.png" alt="twitter" class="twitter"></a>
        </div>   
    </footer>
